$amethyst: #a661c2;
$light-wisteria: #cfabde;
$margin: 0;

.base {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  height: 100vh;

  &a {
    border-bottom: 1px solid $light-wisteria;
    color: $amethyst;
    margin: $margin;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
  }
}
