@import "../styles/main";

$margin: 0;

.main {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  justify-content: center;

  .lighter {
    color: $dove-gray;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.1;

    @media (max-width: $small-breakpoint) {
      font-size: 1.5em;
    }
  }

  h1 {
    color: $dove-gray;
    font-size: 3em;
    font-weight: 800;
    line-height: .9;

    @media (max-width: $small-breakpoint) {
      font-size: 2em;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    max-width: 42rem;
    padding: 20px;

    @media (max-width: $medium-breakpoint) {
      flex-direction: column;
      padding: 0;
    }

    .blurb {
      padding: 1.2em;
      vertical-align: top;
    }

    .hero {
      margin: $margin;
      padding-left: 1.2em;

      @media (min-width: $medium-breakpoint) {
        margin-top: 40px;
        padding-right: 1.2em;
      }

      img {
        border-radius: 10%;
        vertical-align: middle;
      }
    }
  }
}
