$medium-breakpoint: 480px;
$margin-name: 0 0 0 .5em;
$margin-header: 1.2rem auto 0;

header {
  margin: $margin-header;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  max-width: 49rem;
  padding: 0 16px;
  vertical-align: middle;
  width: 90%;

  .filler {
    flex: 1 1 auto;
    text-align: center;
  }
}

.social {
  flex-shrink: 0;
  float: right;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;

  .link {
    display: inline-block;
    margin-left: 1rem;
    border-bottom: 0;
    text-align: center;
  }

  .name {
    margin: $margin-name;
    vertical-align: top;
    
    @media (max-width: $medium-breakpoint) {
      display: none;
    }
  }
}
