header {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 64px;
  padding: 0 16px;
  vertical-align: middle;
}

.title {
  float: left;
  flex-shrink: 0;
  padding: 0;
  vertical-align: middle;
}

.filler {
  flex: 1 1 auto;
  text-align: center;
}

.social {
  flex-shrink: 0;
  float: right;
  padding-right: 40px;
  text-align: center;
  vertical-align: middle;

  .link {
    display: inline-block;
    margin-left: 1rem;
    text-align: center;
  }
}
