$dusty-gray: #999;

footer {
  flex-direction: row;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;

  .note {
    color: $dusty-gray;
    font-size: .85em;
    line-height: 1.6;
    padding: 0 0 .5em;
  }
}
